.khata-body {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 40em) {
  .khata-body {
    grid-template-columns: repeat(2, 1fr);
  }
}

.sale-section,
.expense-section {
  display: grid;
  justify-items: center;
  grid-template-rows: auto auto 1fr;
  /* min-height: calc(100vh - 1px); */
  min-height: calc(100vh - var(--button-flat-size) - (1px * 2));
  /* --button-flat-size : Size of back button, 1px : Size of border   */
  font-family: var(--font-primary);
  font-weight: var(--font-weight-semibold);

  position: relative;
  /* outline: auto; */

  /* min-height: 100vh; */
}

.sale-body {
  /* outline: auto; */
  border-right: 1px solid var(--border);
}

.outer-body {
}
.expense-body {
  /* border: left 1px solid var(--border); */
  /* border-left: 1px solid var(--border);
  min-width: 100%;
  outline: auto; */
}
