.stock-body {
  display: grid;
  justify-items: center;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-semibold);
}

@media (min-width: 50em) {
  .stock-body > table {
    width: 50%;
  }
}
