.stock-body {
  display: grid;
  justify-items: center;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-semibold);
}

.stock-body > table {
  width: 80%;
  border-collapse: collapse;

  text-align: left;
  max-width: 80%;
  margin-bottom: 1rem;
}

.stock-body > table > thead > tr > th {
  color: var(--text-muted);
  padding: 0.45rem 0.6rem 0.4rem;
}

.stock-body > table > tbody {
  /* border: 1px solid var(--border); */
  color: var(--text-primary);
}

.stock-body > table > tbody > tr > td {
  font-size: var(--font-size-md);
  border: 1px solid var(--border);
  border-left: none;
  padding: 0.45rem 0.6rem 0.4rem;
}

.first-col {
  padding-left: 1.5rem !important;
}

.stock-body > table > tbody > tr > td:last-of-type {
  border-right: none;
}

@media (min-width: 50em) {
  .stock-body > table {
    width: 50%;
  }
}
